{% load i18n %}
<ul class="pager span12">
    <li class="previous">
        {% if hole.has_previous %}
            <a href="{{ hole.previous_hole_url }}">&larr; {% trans "Previous hole" %}</a>
        {% else %}
            <a class="muted">&larr; {% trans "Previous hole" %}</a>
        {% endif %}
    </li>
    <li class="hidden-phone">
        {% blocktrans with position=hole.position count=hole.course.hole_set.count %}{{ position }} of {{ count }}{% endblocktrans %}
    </li>
    <li class="next">
        {% if hole.has_next %}
            <a href="{{ hole.next_hole_url }}">{% trans "Next hole" %} &rarr;</a>
        {% else %}
            <a class="muted">{% trans "Next hole" %} &rarr;</a>
        {% endif %}
    </li>
</ul>
