{% load i18n %}
<ul class="pager span8">
    <li class="previous">
        {% if hole.has_previous %}
            <a href="{% url "books-hole" hole.course.slug hole.previous_hole_position %}">&larr; {% trans "Previous hole" %}</a>
        {% else %}
            <a class="muted">&larr; {% trans "Previous hole" %}</a>
        {% endif %}
    </li>
    <li class="hidden-phone">
        {% blocktrans with position=hole.position count=hole.course.hole_set.count %}{{ position }} of {{ count }}{% endblocktrans %}
    </li>
    <li class="next">
        {% if hole.has_next %}
            <a href="{% url "books-hole" hole.course.slug hole.next_hole_position %}">{% trans "Next hole" %} &rarr;</a>
        {% else %}
            <a class="muted">{% trans "Next hole" %} &rarr;</a>
        {% endif %}
    </li>
</ul>
