/* For the header to move down */
body {padding-top: 60px;}

/* Hole gallery stuff */
#hole-tabs #images .thumbnails {
    margin-top: 20px;
}

.hole-main-image {
    margin-bottom: 10px;
}

/* Course overview page */
.course-map {
    border: 1px solid black;
    width: 100%;
    height: 400px;
}

/* CRUD stuff */
.edit-image-gallery-thumbnails .btn-group {
    display: block;
}
.edit-image-gallery-thumbnails .btn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.edit-position-form .geoposition-widget {
    width: 500px;
    height: 520px;
}

.edit-position-form .geoposition-map {
    height: 200px;
    height: 400px;
}

.edit-position-form .controls .btn-group {
    margin-bottom: 10px;
}

.ajax-status-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}

/* Hole map stuff */
#hole-map-container {
    width: 100%;
    height: 350px;
}

.hole-map-wrapper {
    padding: 4px;
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#hole-map-container label {
    width: auto;
    display: inline;
}

/* Small hack for Google Maps in geoposition-widget */
.geoposition-widget img,
.course-map img,
#hole-map-container img {
    max-width: none;
}
