{% extends "books/base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with name=course.name %}{{ name }}, disc golf course map, pictures and more!{% endblocktrans %}{% endblock %}

{% block nav %}
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="{{ course.get_absolute_url }}">{{ course.name }}</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="{{ course.get_absolute_url }}">{% trans "Overview" %}</a></li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {% trans "Jump to hole" %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% for hole in course.hole_set.all %}
                        <li><a href="{{ hole.get_absolute_url }}">
                            {% if hole.name %}
                                {{ hole.name }}
                            {% else %}
                                {% blocktrans with position=hole.position %}Hole {{ position }}{% endblocktrans %}
                            {% endif %}
                        </a></li>
                        {% endfor %}
                    </ul>
                  </li>
                </ul>

                {% include "books/caddybook_menu.html" %}

                {% block extra_nav %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
{% endblock %}
