{% extends "books/base_hole.html" %}
{% load i18n %}
{% load thumbnail %}

{% block endbody %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&sensor=false"></script>
<script src="{{ STATIC_URL }}caddybook/js/hole.js"></script>
<script src="{{ STATIC_URL }}caddybook/js/hole-map.js"></script>
<script src="{{ STATIC_URL }}colorbox/jquery.colorbox.js"></script>
<script>
$(function() {

    /* Enable the colorbox */
    $('.gallery').colorbox({rel: 'hole-gallery',
        maxWidth: "95%", maxHeight: "95%"});

    {% if can_edit %}
    /* Deal with buttons for saving position */
    $('.set-hole-position').click(function(e) {
        var HoleSetGeoPosition = CADDYBOOK.module('hole').HoleSetGeoPosition;
        var hole_geo = new HoleSetGeoPosition({
            'field': $(this).data('fieldId'),
            'url': '{{ hole.get_ajax_set_pos_url }}',
            'csrf_token': '{{ CSRF.csrf_token }}',
        })
    });
    {% endif %}
});
</script>
{% endblock %}

{% block endhead %}
<link href="{{ STATIC_URL }}colorbox/colorbox.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% include "books/hole/pager.html" %}

<div class="row">
    <div class="span4">

        <ul class="nav nav-tabs" id="hole-tabs">
            <li class="{% if hole.has_images %}active {% endif %}tab-images"><a href="#images" data-toggle="tab">{% trans "Images" %}</a></li>
            <li class="{% if not hole.has_images %}active {% endif %}tab-map"><a href="#map" data-toggle="tab">{% trans "Map" %}</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane {% if hole.has_images %} active{% endif %}" id="images">
                {% if hole.has_images %}
                    {% if hole.image %}
                        {% thumbnail hole.image "x900" crop="center" as img %}
                        <a class="gallery" href="{{ img.url }}">
                        {% endthumbnail %}

                        {% thumbnail hole.image "350x400" crop="center" as img %}
                            <img src="{{ img.url }}" alt="{{ hole }}" class="img-polaroid hole-main-image">
                        {% endthumbnail %}
                        </a>
                    {% endif %}

                    <ul class="thumbnails">
                        {% for image in hole.holegalleryimage_set.all %}
                        <li class="span1">
                            {% thumbnail image.image "x900" as img %}
                            <a href="{{ img.url }}" class="thumbnail gallery" title="{{ image.description }}">
                            {% endthumbnail %}

                            {% thumbnail image.image "100x100" crop="center" as img %}
                            <img src="{{ img.url }}" alt="">
                            {% endthumbnail %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{% trans "No pictures are uploaded for this hole." %}</p>
                {% endif %}
            </div>

            <div class="tab-pane {% if not hole.has_images %} active{% endif %}" id="map">
                <script>
                $(function() {
                    var HoleMapManager = CADDYBOOK.module('hole_map').HoleMapManager;
                    var map_config = {
                        'container': $('#hole-map-container').get(0),
                        'static_url': '{{ STATIC_URL }}',
                        'tee_lat': {{ hole.get_tee_lat }},
                        'tee_lon': {{ hole.get_tee_lon }},
                        'basket_lat': {{ hole.get_basket_lat }},
                        'basket_lon': {{ hole.get_basket_lon }}
                    };

                    var map = new HoleMapManager(map_config);

                    // Hack to fix Google Maps issue with display:hidden onload
                    $('.tab-map a[data-toggle="tab"]').on('shown', function (e) {
                        /* Fix the broken map with a resize */
                        google.maps.event.trigger(map.map, 'resize');

                        /* Re-center based on tee/basket pos */
                        map.setCenter();
                    });
                });
                </script>
               <div class="hole-map-wrapper"><div id="hole-map-container"></div></div>
            </div>
        </div>
    </div>
    <div class="span8">
        <h1>
            {% blocktrans with position=hole.position %}Hole {{ position }}{% endblocktrans %}
            {% if hole.name %} - {{ hole.name }}{% endif %}
        </h1>

        <dl>
            <dt>{% trans "Course" %}</dt>
            <dd><a href="{{ hole.course.get_absolute_url }}">{{ hole.course.name }}</a></dd>

            <dt>{% trans "Distance" %}</dt>
            <dd>
                {% if hole.distance %}
                    {% blocktrans with distance=hole.distance %}{{ distance }} meters{% endblocktrans %}
                {% else %}
                    <span class="muted">{% trans "N/A" %}</span>
                {% endif %}
            </dd>

            <dt>{% trans "GPS Distance" %}</dt>
            <dd>
                {% if hole.gps_distance %}
                    {% blocktrans with distance=hole.gps_distance %}{{ distance }} meters{% endblocktrans %}
                {% else %}
                    <span class="muted">{% trans "N/A" %}</span>
                {% endif %}
            </dd>
            <dt>{% trans "Par" %}</dt>
            <dd>
                {% if hole.par %}
                    {{ hole.par }}
                {% else %}
                    <span class="muted">{% trans "N/A" %}</span>
                {% endif %}
            </dd>
            <dt>{% trans "Description" %}</dt>
            <dd>
                {% if hole.description %}
                    {{ hole.description|safe|linebreaks }}
                {% else %}
                    <span class="muted">{% trans "N/A" %}</span>
                {% endif %}
            </dd>
        </dl>
    </div>
</div>
{% endblock %}
